# Bỏ qua môi trường ảo (Thủ phạm chính)
.venv/
venv/
env/

# Bỏ qua các model nặng
rasa_bot/models/
rasa_bot/results/
mlruns/
mlartifacts/
models/

# Bỏ qua các file rác của Python
__pycache__/
*.pyc
.ipynb_checkpoints/