# Environment
.env
.env.example

# Virtual environments
.venv/
venv/
env/

# Model & training files
rasa_bot/models/*
!rasa_bot/models/model.tar.gz
rasa_bot/results/
rasa_bot/tests/
mlruns/
mlartifacts/

# Data pipeline
data/

# Git & DVC
.git/
.gitignore
.dvc/
.dvcignore
.dvc-venv/

# Logs & runtime
logs/
.runtime/
error_log.txt

# Config files for CI/CD
Jenkinsfile
Dockerfile.jenkins
docker-compose.yml

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Docs & notebooks
*.md
notebooks/

# System
mise.toml
